<footer>
  <a href="#pagetop" class="page-scroll">
    <%= fa_stacked_icon 'chevron-up', base: 'circle', class: 'fa-slideup' %>
  </a>
  <p>Made by .K.P.</p>
  <%= mail_to "pivec@hotmail.com" do %>
    <strong>Email me!</strong>
  <% end %>
</footer>
