<header id="top" class="img-header">
  <%= fa_icon 'space-shuttle', class: 'fa-header-icon' %>
  <h1 class="header-h1">THE FUTURE OF MACHiNES</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <a href="#news" class="page-scroll">
    <%= fa_stacked_icon 'chevron-down', base: 'circle', class: 'fa-slidedown' %>
  </a>
</header>
